body{
    background-color: #ecf0f1;
    font-family: 'Balthazar', serif;
}

h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 40px;
    /* padding: 10px; */
}

img {
    position: relative;
    left: 10px;
    top: 7px;
    width: 35px;
    height: 35px;
}

#container{
    display: grid;
    grid-gap: 20px;
    padding-left: 25px;
    padding-right: 25px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "h ."
    "hc hc"
    "p p";
}

#header-container {
    display: grid;
    grid-area: hc; 
    grid-template-areas: ". i b .";
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}

#header{
    grid-area: h;
    color: #3498db;
}

#input{
    grid-area: i;
    width: 95%;
    padding: 5px;
    font-size: 1.5vw;
}

#posts{
    grid-area: p;
    display: grid;
    grid-gap: 5px;
    justify-items: center;
}

#post{
    width: 10vw;
    grid-area: b;
    padding: 5px;
    background-color: #598CCA;
    border: 1px solid #2980b9;
    box-shadow: 1px 1px 5px #2c3e50;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
}

.post{
    width: 50vw;
    background-color: rgb(226, 237, 250);
    box-shadow: 1px 1px 3px;
    margin: 10px;
    border-radius: 5px;
    /* padding: 15px; */
    /* padding-left: 25px; */
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    position: relative;
    font-family: Helvetica;
}

#post:active{
    background-color: #2980b9
}


.comments{
    /* box-shadow: 1px 1px 3px; */
    /* background-color: #FFFFFF; */
    /* border-radius: 5px; */
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    overflow-block: clip;

}

.comment {
    box-shadow: 1px 1px 3px;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    background-color: #F2F3F5;
    grid-area: c;
    max-width: 100vw;
    text-overflow: ellipsis;
    min-height: max-content;
}


.delPostBtn {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 15px;
}

.cmtBtn {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 15px;
    right: 35px;
    top: 0px;
}


.comment-container {
    display: grid;
    grid-template-columns: 1fr 30fr;
    grid-template-areas: "d c";
    position: relative;
    align-items: stretch;
    grid-gap: 15px;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 30fr;
    grid-template-areas: ". i";
    position: relative;
    align-items: stretch;
    grid-gap: 15px;
}


.delCmtBtn:hover {
    opacity: 100%;
}

.delCmtBtn {
    box-shadow: 1px 1px 3px;
    display: flex;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 7px;
    justify-content: center;
    justify-items: center;
    align-items:  center;
    align-content: center;
    padding: 2px;
    grid-area: d;
    border-radius: 30px;
    background-color: #F2F3F5;
    opacity: 0%;
}


.cmtTextBox {
    box-shadow: 1px;
    background-color: #FFFFFF;
    border-radius: 15px;
    grid-area: i;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    /* text-overflow: clip; */
    min-height: max-content;
    width: 95.5%;
}